.dic_cate a{display:block;width:60px;height:312px;background:url(../img/dictionary_nor_01.png) no-repeat 0 0;text-indent:-9999px;}
.dic_cate a:hover{background-image:url(../img/dictionary_sel_01.png);}
#play a{background-image:url("../img/dictionary_nor_02.png");}
#play a:hover{background-image:url("../img/dictionary_sel_02.png");}
#play.on a{background-image:url("../img/dictionary_sel_02.png");}
#part a{background-image:url("../img/dictionary_nor_03.png");}
#part a:hover{background-image:url("../img/dictionary_sel_03.png");}
#part.on a{background-image:url("../img/dictionary_sel_03.png");}
#story a{background-image:url("../img/dictionary_nor_04.png");}
#story a:hover{background-image:url("../img/dictionary_sel_04.png");}
#story.on a{background-image:url("../img/dictionary_sel_04.png");}
#sing a{background-image:url("../img/dictionary_nor_05.png");}
#sing a:hover{background-image:url("../img/dictionary_sel_05.png");}
#sing.on a{background-image:url("../img/dictionary_sel_05.png");}
#pansori a{background-image:url("../img/dictionary_nor_06.png");}
#pansori a:hover{background-image:url("../img/dictionary_sel_06.png");}
#pansori.on a{background-image:url("../img/dictionary_sel_06.png");}
#shamanism a{background-image:url("../img/dictionary_nor_07.png");}
#shamanism a:hover{background-image:url("../img/dictionary_sel_07.png");}
#shamanism.on a{background-image:url("../img/dictionary_sel_07.png");}
#town a{background-image:url("../img/dictionary_nor_08.png");}
#town a:hover{background-image:url("../img/dictionary_sel_08.png");}
#town.on a{background-image:url("../img/dictionary_sel_08.png");}
#home a{background-image:url("../img/dictionary_nor_09.png");}
#home a:hover{background-image:url("../img/dictionary_sel_09.png");}
#home.on a{background-image:url("../img/dictionary_sel_09.png");}
#sesi_month a{background-image:url("../img/dictionary_nor_10.png");}
#sesi_month a:hover{background-image:url("../img/dictionary_sel_10.png");}
#sesi_month.on a{background-image:url("../img/dictionary_sel_10.png");}
#season a{background-image:url("../img/dictionary_nor_11.png");}
#season a:hover{background-image:url("../img/dictionary_sel_11.png");}
#season.on a{background-image:url("../img/dictionary_sel_11.png");}
#sesi_part a{background-image:url("../img/dictionary_nor_12.png");}
#sesi_part a:hover{background-image:url("../img/dictionary_sel_12.png");}
#sesi_part.on a{background-image:url("../img/dictionary_sel_12.png");}