<!DOCTYPE html>
<html lang="en">
	<style>
		td{
			width :150px;
			height : 150px;
			border : 1px solid black;
		}
	
	</style>
    <head>
        <meta charset="utf-8" />
        <script src="/js/jquery.js"></script>
        <script type="text/javascript">
	$( document ).ready(function() {
	

});

</script>
    </head>
   	<body>
		<p>MANAGER_NM - String : <span th:text="${loginInfo.MANAGER_NM}"></span> </p>		
		<table>
			<tr>
				<td th:text="${loginInfo.MANAGER_NM}">
				<td th:text="${loginInfo.PW_DAMO}">
				<td th:text="${loginInfo.POSITION}">
				<td th:text="${loginInfo.TEL_NO}">
				<td th:text="${loginInfo.MP_NO}">
				<td th:text="${loginInfo.EMAIL}">
			<tr>
			
			
				
   	</body>
</html>