<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<script src="/js/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			$("#loginProc").click(function () {

				console.log("########### click####");

				let idLength = $("#userid").val();
				let pwLength = $("#password").val();

				if (idLength.length < 3) {
					alert("아이디 3자리 이상 입력해주세요.")
					$("#userid").focus();

					return false;
				}
				if (pwLength.length < 4) {
					alert("비밀번호 4자리 이상 입력해주세요.")
					$("#password").focus();

					return false;
				}
				$("#loginForm").submit();
			});

		});


	</script>
</head>

<body>
	<form th:action="@{/loginproc2}" class="form-horizontal m-t-40" name="loginForm" id="loginForm" method="post">
		<div class="form-group ">
			<div class="col-xs-12">
				<input class="form-control" type="text" name="userid" id="userid" placeholder="아이디" />
			</div>
		</div>
		<div class="form-group ">
			<div class="col-xs-12">
				<input class="form-control" type="password" name="password" id="password" placeholder="비밀번호" />
			</div>
		</div>

		<div class="form-group ">
			<div class="col-xs-12">
				<label class="cr-styled"> <input type="checkbox" name="cookiCheck" id="cookiCheck" />
					<i class="fa"></i> 아이디 저장
				</label>
			</div>
		</div>

		<div class="form-group text-right">
			<div class="col-xs-12">
				<button class="btn btn-purple w-md" type="button" id="loginProc">로그인</button>
			</div>
		</div>
	</form>

</body>

</html>